USE [master]
GO
/****** Object:  Database [refugio_gatos]    Script Date: 30/08/2025 23:10:58 ******/
CREATE DATABASE [refugio_gatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'refugio_gatos', FILENAME = N'C:\SQL DATA\refugio_gatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'refugio_gatos_log', FILENAME = N'C:\SQL DATA\refugio_gatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [refugio_gatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [refugio_gatos]
GO
/****** Object:  Table [dbo].[adopcion]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adopcion](
	[id_adopcion] [int] IDENTITY(1,1) NOT NULL,
	[id_gato] [int] NOT NULL,
	[id_adoptante] [int] NOT NULL,
	[fecha_adopcion] [date] NOT NULL,
	[observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adopcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuidado]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuidado](
	[id_cuidado] [int] IDENTITY(1,1) NOT NULL,
	[id_gato] [int] NOT NULL,
	[id_cuidador] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[notas] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuidado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[encargados_refugio]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[encargados_refugio](
	[id_encargado] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[tarea] [varchar](200) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_encargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gato]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gato](
	[id_gato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[edad] [int] NULL,
	[raza] [varchar](50) NULL,
	[estado_gato] [varchar](20) NULL,
	[cuidado_requerido] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](150) NULL,
	[correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_roles] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[rol_administrados] [varchar](2) NOT NULL,
	[rol_voluntariado] [varchar](2) NOT NULL,
	[rol_cuidador_temporal] [varchar](2) NOT NULL,
	[rol_adoptante] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_roles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[contraseña] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veterinaria]    Script Date: 30/08/2025 23:10:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veterinaria](
	[id_vet] [int] IDENTITY(1,1) NOT NULL,
	[id_gato] [int] NOT NULL,
	[fecha_visita] [date] NOT NULL,
	[diagnostico] [varchar](200) NULL,
	[tratamiento] [varchar](200) NULL,
	[vacuna] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adopcion]  WITH CHECK ADD FOREIGN KEY([id_adoptante])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[adopcion]  WITH CHECK ADD FOREIGN KEY([id_gato])
REFERENCES [dbo].[gato] ([id_gato])
GO
ALTER TABLE [dbo].[cuidado]  WITH CHECK ADD FOREIGN KEY([id_cuidador])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[cuidado]  WITH CHECK ADD FOREIGN KEY([id_gato])
REFERENCES [dbo].[gato] ([id_gato])
GO
ALTER TABLE [dbo].[encargados_refugio]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[persona] ([id_persona])
GO
ALTER TABLE [dbo].[veterinaria]  WITH CHECK ADD FOREIGN KEY([id_gato])
REFERENCES [dbo].[gato] ([id_gato])
GO
USE [master]
GO
