USE [master]
GO
/****** Object:  Database [refugio_gatos]    Script Date: 20/08/2025 21:02:36 ******/
CREATE DATABASE [refugio_gatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'refugio_gatos', FILENAME = N'C:\SQL DATA\refugio_gatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'refugio_gatos_log', FILENAME = N'C:\SQL DATA\refugio_gatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [refugio_gatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [refugio_gatos]
GO
/****** Object:  Table [dbo].[adoptante]    Script Date: 20/08/2025 21:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adoptante](
	[id_adoptante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adoptante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gato]    Script Date: 20/08/2025 21:02:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gato](
	[id_gato] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[edad] [int] NULL,
	[id_adoptante] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[gato]  WITH CHECK ADD FOREIGN KEY([id_adoptante])
REFERENCES [dbo].[adoptante] ([id_adoptante])
GO
USE [master]
GO
