USE [master]
GO
/****** Object:  Database [Prueba1]    Script Date: 19/08/2025 20:12:14 ******/
CREATE DATABASE [Prueba1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prueba', FILENAME = N'C:\SQL DATA\prueba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prueba_log', FILENAME = N'C:\SQL DATA\prueba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba1]
GO
/****** Object:  Table [dbo].[Informacion]    Script Date: 19/08/2025 20:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion](
	[id] [int] NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](30) NULL,
	[edad] [numeric](2, 0) NULL,
	[telefono] [numeric](9, 0) NULL
) ON [PRIMARY]
GO
USE [master]
GO
